<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Error 404 - Página no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="not-found-content">
    <ion-icon name="warning" class="error-icon" color="danger"></ion-icon>
    <h1>Error 404</h1>
    <p class="subtext">Not Found</p>
    <p>No se ha podido encontrar la página</p>
    <ion-button expand="full" color="primary" (click)="redirectToLogin()">Volver al inicio</ion-button>
  </div>
</ion-content>
