<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Rentas activas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-container">
    <!-- CARD, RENTAS ACTIVAS? -->
    <ion-card class="custom-card" >
      <img alt="album-img" src="../../../assets/images/cover_older_alt.jpg" class="card-img"/>
      <ion-card-header>
        <ion-card-title>Older</ion-card-title>
        <ion-card-subtitle>George Michael</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        un disco de todos los tiempos :O
      </ion-card-content>
    </ion-card>
    
    <ion-card class="custom-card">
      <img alt="album-img" src="../../../assets/images/cover_thriller.png" class="card-img"/>
      <ion-card-header>
        <ion-card-title>Thriller</ion-card-title>
        <ion-card-subtitle>Michael Jackson</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quas ipsum molestias aliquam perspiciatis ea aspernatur veritatis, debitis obcaecati beatae dicta alias unde exercitationem illo, quo praesentium reprehenderit! Distinctio, eveniet!
      </ion-card-content>
    </ion-card>
</div>
</ion-content>
