<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Rentas activas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- CARD, RENTAS ACTIVAS? -->
  <ion-card>
    <img alt="album-img" src="../../../assets/images/cover_older_alt.jpg" />
    <ion-card-header>
      <ion-card-title>Older</ion-card-title>
      <ion-card-subtitle>George Michael</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      un disco de todos los tiempos :O
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="album-img" src="../../../assets/images/cover_thriller.png" />
    <ion-card-header>
      <ion-card-title>Thriller</ion-card-title>
      <ion-card-subtitle>Michael Jackson</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quas ipsum molestias aliquam perspiciatis ea aspernatur veritatis, debitis obcaecati beatae dicta alias unde exercitationem illo, quo praesentium reprehenderit! Distinctio, eveniet!
    </ion-card-content>
  </ion-card>
</ion-content>
