/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-title {
    &.md {
      width: 100%;
      position: absolute;
      left: 0;
      height: 0;
      text-align: center;
    }
  };
ion-card {
    --background: #000;
};  
ion-card-title {
    --color: #ffc409;
  };
ion-card-subtitle {
    --color: #ffc409;
  };
ion-card-content{
  color:white;
};
.card-img{
    width:300px;
    height: 300px;
}
.custom-card {
  max-width: 300px; /* Define el ancho máximo de la carta */
  margin: 20 auto; /* Centra la carta horizontalmente */
}
.card-container{
  display: flex;
  flex-direction: column; /*Alineacion de cartas verticalmente */
  align-items: center; /*centrar cartas */
}

.temporal{
  display: flex;
  flex-direction: column;
  align-items: center;
}
ion-tab-bar{
  --background:#ffc409;
};
ion-tab-button{
  color: black;
};